<section class="volcano-search">
    <h1>Search</h1>

    <form class="search-form" method="GET">
        <input type="text" class="search-volcano" name="name" value="{{filter.name}}" placeholder="Search by Name...">
        <select id="type" name="typeVolcano" value="{{filter.typeVolcano}}">
            <option value="{{filter.typeVolcano}}" hidden="hidden" selected="selected">{{filter.typeVolcano}}</option>
            <option value="Supervolcanoes">Supervolcanoes</option>
            <option value="Submarine">Submarine</option>
            <option value="Subglacial">Subglacial</option>
            <option value="Mud">Mud</option>
            <option value="Stratovolcanoes">Stratovolcanoes</option>
            <option value="Shield">Shield</option>
        </select>
        <button type="submit" class="btn-search">Search</button>
    </form>

    <div class="search-result">
        <div class="search-list">

             {{#each volcanoes}}
                {{>volcano}}
            {{else}}
                <div class="no-match">
                    <p>No match was found!</p>
                </div>
            {{/each}}

        </div>
    </div> 
    
</section>