<div class="product-item">
    <img
        src="{{image}}">
    <h3>{{brand}} {{model}}</h3>
    <p>${{price}}</p>
    <p>CPU: {{cpu}}</p>
    <p>GPU: {{gpu}}</p>
    <p>Screen: {{screenSize}} inch</p>
    <a href="/devices/{{_id}}/details" class="btn">View Details</a>
</div>